{% extends 'global/base.html.twig' %}

{% block body %}
    <div class="article-content">

        <section>


            {% for category in article.categoryList %}
                <button class="btn-category">{{ category.name }}</button>
            {% endfor %}

            <h1>{{ article.titre }}</h1>

            <p>
                Par <a href="#">{{ article.author.username }}</a>,
                le {{ article.getPublishedAt|date("d/m/Y à H:i") }} |
                <a href="#">🗩 0 commentaire</a>
            </p>

            <aside>
                <div>à lire aussi</div>


            </aside>

            <article>

                <div class="image-container">
                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}"
                         alt="image for : {{ article.titre }}"
                         width="340px"
                         height="190px"
                    />
                </div>
                {{ article.content|raw }}



            </article>
            <!-- /Post Info -->

        </section>
    </div>



{% endblock %}