{% extends 'global/base.html.twig' %}

{% block body %}

    <section class="content-wrap no-banner">

        <h1 class="container">{{ article.titre }}</h1>

        <div class="container youplay-news youplay-post">

            <!-- Post Info -->
            <article class="news-one">

                <!-- Post Text -->
                <div class="description">

                    <div class="align-center">
                            <div class="img">
                                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="image for : {{ article.titre }}"/>
                            </div>
                    </div>


                    {{ article.content|raw }}

                </div>
                <!-- /Post Text -->

{#
                <!-- Post Tags -->
                <div class="tags">
                    <i class="fa fa-tags"></i>  <a href="#">Journey</a>, <a href="#">game</a>, <a href="#">review</a>
                </div>
                <!-- /Post Tags -->
#}

                <!-- Post Meta -->
                <div class="meta">
                    <div class="item">
                        <i class="fa fa-user meta-icon"></i>
                        Auteur <a href="#!">{{ article.author.username }}</a>
                    </div>
                    <div class="item">
                        <i class="fa fa-calendar meta-icon"></i>
                        Publié le {{ article.getPublishedAt|date("j F Y à H:i") }}
                    </div>
                    <div class="item">
                        <i class="fa fa-bookmark meta-icon"></i>
                        Catégorie <a href="#!">{{ article.category.name }}</a>
                    </div>
                </div>
                <!-- /Post Meta -->
{#
                <!-- Post Share -->
                <div class="btn-group social-list social-likes" data-counters="no">
                    <span class="btn btn-default facebook" title="Share link on Facebook"></span>
                    <span class="btn btn-default twitter" title="Share link on Twitter"></span>
                    <span class="btn btn-default plusone" title="Share link on Google+"></span>
                    <span class="btn btn-default pinterest" title="Share image on Pinterest" data-media=""></span>
                    <span class="btn btn-default vkontakte" title="Share link on VK"></span>
                </div>
                #}
                <!-- /Post Share -->
            </article>
            <!-- /Post Info -->

        </div>

    </section>


{% endblock %}