{% extends 'base.html.twig' %}

{% block body %}


    <div class="main wrapper clearfix">


        <article>

            {% for article in articleList %}
                {% if loop.first %}
                    <header>
                    <h1>
                        <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}"></a>{{ article.titre }}
                    </h1>
                {% else %}
                    <section>
                    <h3>
                        <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}"></a>{{ article.titre }}
                    </h3>
                {% endif %}
                <img src="{{ vich_uploader_asset(article, 'imageFile') }}"
                     width="500px" height="375px"
                     alt="image for : {{ article.titre }}"/>
                <p>
                    {{ article.getPublishedAt|date("d/m/Y H:i") }}
                </p>
                <p> {{ article.content|striptags|slice(0, 500)|raw }} ...
                </p>
                <p>
                <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}"
                   class="btn read-more pull-left">Read More</a></p>


                {% if loop.first %}
                    </header>
                {% else %}
                    </section>
                {% endif %}
            {% endfor %}

        </article>

        <aside>
            <h3>Communauté Francophone pour Crowfall</h3>
            <em>Crowfall est un MMORPG orienté PvP <br/>
                Il sortira a priori fin 2017.</em>
            <br>
            <br>
            <br>
            <a class="btn btn-lg" href="https://crowfall.com/">Join Crowfall</a>
        </aside>

    </div> <!-- #main -->


{% endblock %}