{% extends 'global/base.html.twig' %}

{% block body %}
    <div id="slide">
        <div class="slide-container">
            {# change this asap #}
            <img src="{{ asset('upload/wallpaper.jpg') }}" width="1190" height="440"
                 alt="test"
            />
        </div>
    </div>
    <div id="news">
        <span class="news-title">Prochaine campagne :</span><br/>
        <span class="news-content">Le 09/12/2019 campagne "bain de sang" ! Chacun pour soi, pas d'import </span>
    </div>
    <div class="spacer"></div>

    <div id="main-container">
        <div class="main wrapper clearfix">


            <article>

                {% for article in articleList %}
                    {% if loop.first %}
                        <header>
                        <h2>
                            <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}"></a>{{ article.titre }}
                        </h2>
                    {% else %}
                        <section>
                        <h3>
                            <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}"></a>{{ article.titre }}
                        </h3>
                    {% endif %}
                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}"
                         width="500px" height="375px"
                         alt="image for : {{ article.titre }}"/>
                    <p>
                        {{ article.getPublishedAt|date("d/m/Y H:i") }}
                    </p>
                    <p> {{ article.content|striptags|slice(0, 500)|raw }} ...
                    </p>
                    <p>
                        <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}"
                           class="btn read-more pull-left">Read More</a></p>


                    {% if loop.first %}
                        </header>
                    {% else %}
                        </section>
                    {% endif %}
                {% endfor %}

            </article>

        </div>
    </div> <!-- #main -->
    <div class="spacer"></div>


{% endblock %}