{% extends 'global/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div id="main-container">

        <article>

            <form class="authentification" action="{{ path("fos_user_security_check") }}" method="post">

                <h1>Connexion</h1>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                    <input type="text" id="username" name="_username" placeholder="Login"
                           required="required">
                    <input type="password" id="password" name="_password" placeholder="Password"
                           required="required">

                <button type="submit" id="_submit"
                        name="_submit">{{ 'security.login.submit'|trans }}</button>


                <div class="links">
                    <a href="{{ path('fos_user_registration_register') }}" title="Inscription">< Inscription ></a> |
                    <a href="{{ path('fos_user_resetting_request') }}" title="Password Oublié">< Password oublié ></a>
                </div>
            </form>


        </article>
    </div>


{% endblock %}