<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Royaumes Eternels{% endblock %}</title>

    <meta name="description" content="Communauté Francophone pour Crowfall">


    {# START favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">
    {# END favicon #}

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


    {% block stylesheets %}

        <link rel="stylesheet" type="text/css" href="/css/base.css?{{ date().timestamp }}"/>

    {% endblock %}


</head>


<body>

<div id="global-container">

    <!-- Navbar -->
    <div id="menu-container">
        <header>
            <nav>
                <ul>
                    {# inverse order because of float : right #}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                <a href="/admin/">Administration</a>
                            </li>
                        {% elseif is_granted("ROLE_WRITER") %}
                            <li>
                                <a href="/writer/">Admin</a>
                            </li>
                        {% endif %}

                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}

                    {% if  menu_category is defined and menu_category|length %}
                        <li class="dropdown">
                            <button class="dropbtn">↯ Categories</button>
                            <ul class="dropdown-content">
                                {% for category in menu_category %}
                                    <li>
                                        <a href="{{ path('category_show', {'id': category.id, 'slug': category.slug }) }}">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    </div>
    <!-- /Navbar -->

    <div id="header-container">
        {#<input type="text" placeholder="Entrez votre recherche..."/>#}
        <h2 class="title"><a href="/">Royaumes Eternels</a></h2>
    </div>

    <!-- Main Content -->
    {% block body %}{% endblock %}
    <!-- /Main Content -->


    <!-- Footer -->
    <div id="footer-container">
        <footer>

            <nav>
                <ul>
                    <li>
                        <a href="https://discord.gg/AJrPY9v" target="_blank">
                            Discord
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Aedius/crowfall-royaumes-eternel" target="_blank">
                            Github
                        </a>
                    </li>
                </ul>
            </nav>

        </footer>
    </div>

    <!-- /Footer -->
</div>

{% block javascripts %}{% endblock %}

</body>

</html>
