{% extends 'global/base.html.twig' %}

{% form_theme form _self %}


{% block choice_row %}
    {% spaceless %}
        {{ form_label(form) }}  {{ form_errors(form) }}
        <div class="youplay-select">
            {{ form_widget(form) }}
        </div>
        <br/>
    {% endspaceless %}
{% endblock choice_row %}

{% block textarea_widget %}
    {% spaceless %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block form_row %}
    {% spaceless %}
        {% if 'textarea' in form.vars.block_prefixes %}
            <div>
                {{ form_errors(form) }}
                {{ form_widget(form, { 'attr': { 'placeholder': form.vars.label} }) }}
            </div>
        {% else %}
            <div class="youplay-input">
                {{ form_errors(form) }}
                {{ form_widget(form, { 'attr': { 'placeholder': form.vars.label} }) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/plugins/tinymce/js/tinymce/tinymce.min.js"></script>

    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: []
        });
    </script>
{% endblock %}

{% block body %}
    <section class="content-wrap full youplay">

        <div class="youplay-banner banner-top">
            <div class="image" style="background-image: url('/assets/images/banner-bg.jpg')">
            </div>
            <div class="info">
                <div>
                    <div class="container align-center">

                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}" role="alert">
                                    <strong>{{ label }}</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        <div class="youplay-form">

                            <h1>{{ title }}</h1>
                            <div>
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <div>
                                    <button class="btn btn-default db" type="submit" id="_submit"
                                            name="_submit">{{ submit_button }}</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}