{% extends 'global/base.html.twig' %}

{% block body %}


    {% include 'category/_part/header.html.twig' with { 'category': article.masterCategory } only  %}

    <div class="article-content">

        <section>

            {% include 'article/_part/categoryList.html.twig' with { 'article': article } only %}

            <h1>{{ article.titre }}</h1>

            <p>
                Par <a href="#">{{ article.author.username }}</a>,
                le {{ article.getPublishedAt|date("d/m/Y à H:i") }} |
                <a href="#">🗩 0 commentaire</a>
            </p>

            <aside>
                <div>à lire aussi</div>
            </aside>

            <article>

                <div class="image-container">
                    <img src="/cache/340x190{{ vich_uploader_asset(article, 'imageFile') }}"
                         alt="image for : {{ article.titre }}"
                         width="340px"
                         height="190px"
                    />
                </div>
                {{ article.content|raw }}



            </article>
            <!-- /Post Info -->

        </section>
    </div>



{% endblock %}