<div id="main-container">

    <article>

        {#
        {% if home is not defined %}
            {% if page > 1 %}
                <section>
                    <div class="pagination">
                        {% if all %}
                            <a href="{{ path('article_all', { 'page': page - 1}) }}"><
                                Page Précédente</a>
                        {% else %}
                            <a href="{{ path('category_show', {'id': category.id, 'slug': category.slug, 'page': page - 1}) }}"><
                                Page Précédente</a>
                        {% endif %}
                    </div>
                </section>
            {% endif %}
        {% endif %}
        #}
        {% if pagination.previousPageUrl %}
        <section>
            <div class="pagination">
                <a href="{{ pagination.previousPageUrl }}">
                   < {{ pagination.previousPageWording|default('page prédédente') }}</a>
            </div>
        </section>
        {% endif %}

        {% for article in articleList %}
            <section>

                <div class="img-container">
                    <img src="/cache/240x130{{ vich_uploader_asset(article, 'imageFile') }}"
                         width="240" height="130"
                         alt="image for : {{ article.titre }}"/>
                </div>
                <div class="info-container">

                    {% include 'global/_part/buttonList.html.twig' with { 'article': article } only %}

                    {% if loop.first %}
                        <h2>
                            <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}">{{ article.titre }}</a>
                        </h2>
                    {% else %}
                        <h3>
                            <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}">{{ article.titre }}</a>
                        </h3>
                    {% endif %}
                    <p>
                        Par <a href="#">{{ article.author.username }}</a>,
                        le {{ article.getPublishedAt|date("d/m/Y à H:i") }} |
                        <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}#comment">🗩 {{ article.commentList|length }}
                            commentaire{% if article.commentList|length >1 %}s{% endif %}</a>

                    </p>
                    <p> {{ article.content|striptags|slice(0, 300)|raw }} ...
                        <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}">
                            Lire la suite
                        </a>
                    </p>
                </div>


            </section>
        {% endfor %}
        {% if pagination.nextPageUrl %}
            <section>
                <div class="pagination">
                    <a href="{{ pagination.nextPageUrl }}">
                        {{ pagination.nextPageWording|default('page suivante') }} ></a>
                </div>
            </section>
        {% endif %}
        {#
        {% if home is defined %}
            <section>
                <div class="pagination">
                    <a href="{{ path('article_all') }}">Voir tout les articles ></a>
                </div>
            </section>
        {% else %}
            {% if page < pageMax %}
                <section>
                    <div class="pagination">
                        {% if all %}
                            <a href="{{ path('article_all', { 'page': page +1}) }}">
                                Page Suivante ></a>
                        {% else %}
                            <a href="{{ path('category_show', {'id': category.id, 'slug': category.slug, 'page': page + 1}) }}">Page
                                Suivante ></a>
                        {% endif %}
                    </div>
                </section>
            {% endif %}
        {% endif %}
        #}

    </article>

</div>
<div class="spacer"></div>