<div id="main-container">

    <article>

        {% for article in articleList %}
            <section>

                <div class="img-container">
                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}"
                         width="240px" height="130px"
                         alt="image for : {{ article.titre }}"/>
                </div>
                <div class="info-container">

                    {% include 'article/_part/categoryList.html.twig' with { 'article': article } only %}

                    {% if loop.first %}
                        <h2>
                            <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}">{{ article.titre }}</a>
                        </h2>
                    {% else %}
                        <h3>
                            <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}">{{ article.titre }}</a>
                        </h3>
                    {% endif %}
                    <p>
                        Par <a href="#">{{ article.author.username }}</a>,
                        le {{ article.getPublishedAt|date("d/m/Y à H:i") }} |
                        <a href="#">🗩 0 commentaire</a>

                    </p>
                    <p> {{ article.content|striptags|slice(0, 300)|raw }} ...
                        <a href="{{ path('article_show', {'id': article.id, 'slug': article.slug}) }}">
                            Lire la suite
                        </a>
                    </p>
                </div>


            </section>
        {% endfor %}
        <section>
            <div class="pagination">
                <a href="#">Voir toutes les news ></a>
            </div>
        </section>
    </article>

</div>
<div class="spacer"></div>